<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1">
                    <match url="^index(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./index.php" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="^logout(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./logout.php" />
                </rule>
                <rule name="Imported Rule 3">
                    <match url="^settings(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./settings.php" />
                </rule>
                <rule name="Imported Rule 4">
                    <match url="^settings/(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./settings.php?accion={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 5">
                    <match url="^news(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./news.php" />
                </rule>
                <rule name="Imported Rule 6">
                    <match url="^news/(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./news.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 7">
                    <match url="^banned(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./banned.php" />
                </rule>
                <rule name="Imported Rule 8">
                    <match url="^client(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./client.php" />
                </rule>
                <rule name="Imported Rule 9">
                    <match url="^noflash(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./noflash.php" />
                </rule>
                <rule name="Imported Rule 10">
                    <match url="^mantenimiento(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./mantenimiento.php" />
                </rule>
                <rule name="Imported Rule 11">
                    <match url="^me(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./me.php" />
                </rule>
                <rule name="Imported Rule 12">
                    <match url="^home(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./home.php" />
                </rule>
                <rule name="Imported Rule 13">
                    <match url="^home/(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./home.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 14">
                    <match url="^team/(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./team.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 15">
                    <match url="^refer/(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./refer.php?r={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 16">
                    <match url="^register(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./register.php" />
                </rule>
                <rule name="Imported Rule 17">
                    <match url="^shop(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./shop.php" />
                </rule>
                <rule name="Imported Rule 18">
                    <match url="^team(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./team.php" />
                </rule>
                <rule name="Imported Rule 19">
                    <match url="^photos(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./photos.php" />
                </rule>
                <rule name="Imported Rule 20">
                    <match url="^community(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./community.php" />
                </rule>
                <rule name="Imported Rule 21">
                    <match url="^habbo-imaging/badge/(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="habbo-imaging/badge.php?badge={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 22">
                    <match url="^habbo-imaging/head/([^/]+)" ignoreCase="false" />
                    <action type="Rewrite" url="/habbo-imaging/head.php?figure={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 23">
                    <match url="^upload$" ignoreCase="false" />
                    <action type="Rewrite" url="upload_photo.php" />
                </rule>
                <rule name="Imported Rule 24">
                    <match url="^preview/([0-9]+)-([0-9]+).png" ignoreCase="false" />
                    <action type="Rewrite" url="public/preview/{R:1}-{R:2}.png" />
                </rule>
                <rule name="Imported Rule 25">
                    <match url="^purchased/([0-9]+)-([0-9]+).png" ignoreCase="false" />
                    <action type="Rewrite" url="fetch_photo.php?userId={R:1}&amp;photoId={R:2}&amp;tmb=0" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 26">
                    <match url="^purchased/([0-9]+)-([0-9]+)_small.png" ignoreCase="false" />
                    <action type="Rewrite" url="fetch_photo.php?userId={R:1}&amp;photoId={R:2}&amp;tmb=1" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 27">
                    <match url="^crossdomain.xml$" ignoreCase="false" />
                    <action type="Rewrite" url="crossdomain.xml" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors>
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <error statusCode="401" prefixLanguageFilePath="" path="/error.php" responseMode="ExecuteURL" />
            <error statusCode="403" prefixLanguageFilePath="" path="/error.php" responseMode="ExecuteURL" />
            <error statusCode="404" prefixLanguageFilePath="" path="/error.php" responseMode="ExecuteURL" />
            <error statusCode="405" prefixLanguageFilePath="" path="/error.php" responseMode="ExecuteURL" />
            <error statusCode="500" prefixLanguageFilePath="" path="/error.php" responseMode="ExecuteURL" />
            <error statusCode="501" prefixLanguageFilePath="" path="/error.php" responseMode="ExecuteURL" />
            <error statusCode="502" prefixLanguageFilePath="" path="/error.php" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
